/* colors from radix-ui/colors */

:root {
	/* dark green */
	--green-dark-1: #0e1512;
	--green-dark-2: #121b17;
	--green-dark-3: #132d21;
	--green-dark-4: #113b29;
	--green-dark-5: #174933;
	--green-dark-6: #20573e;
	--green-dark-7: #28684a;
	--green-dark-8: #2f7c57;
	--green-dark-9: #30a46c;
	--green-dark-10: #33b074;
	--green-dark-11: #3dd68c;
	--green-dark-12: #b1f1cb;

	/* green  */
	--green-1: #fbfefc;
	--green-2: #f4fbf6;
	--green-3: #e6f6eb;
	--green-4: #d6f1df;
	--green-5: #c4e8d1;
	--green-6: #adddc0;
	--green-7: #8eceaa;
	--green-8: #5bb98b;
	--green-9: #30a46c;
	--green-10: #2b9a66;
	--green-11: #218358;
	--green-12: #193b2d;

	/* dark red */
	--red-dark-1: #191111;
	--red-dark-2: #201314;
	--red-dark-3: #3b1219;
	--red-dark-4: #500f1c;
	--red-dark-5: #611623;
	--red-dark-6: #72232d;
	--red-dark-7: #8c333a;
	--red-dark-8: #b54548;
	--red-dark-9: #e5484d;
	--red-dark-10: #ec5d5e;
	--red-dark-11: #ff9592;
	--red-dark-12: #ffd1d9;
}

@supports (color: color(display-p3 1 1 1)) {
	@media (color-gamut: p3) {
		:root {
			/* dark green */
			--green-dark-1: color(display-p3 0.062 0.083 0.071);
			--green-dark-2: color(display-p3 0.079 0.106 0.09);
			--green-dark-3: color(display-p3 0.1 0.173 0.133);
			--green-dark-4: color(display-p3 0.115 0.229 0.166);
			--green-dark-5: color(display-p3 0.147 0.282 0.206);
			--green-dark-6: color(display-p3 0.185 0.338 0.25);
			--green-dark-7: color(display-p3 0.227 0.403 0.298);
			--green-dark-8: color(display-p3 0.27 0.479 0.351);
			--green-dark-9: color(display-p3 0.332 0.634 0.442);
			--green-dark-10: color(display-p3 0.357 0.682 0.474);
			--green-dark-11: color(display-p3 0.434 0.828 0.573);
			--green-dark-12: color(display-p3 0.747 0.938 0.807);

			/* green */
			--green-1: color(display-p3 0.986 0.996 0.989);
			--green-2: color(display-p3 0.963 0.983 0.967);
			--green-3: color(display-p3 0.913 0.964 0.925);
			--green-4: color(display-p3 0.859 0.94 0.879);
			--green-5: color(display-p3 0.796 0.907 0.826);
			--green-6: color(display-p3 0.718 0.863 0.761);
			--green-7: color(display-p3 0.61 0.801 0.675);
			--green-8: color(display-p3 0.451 0.715 0.559);
			--green-9: color(display-p3 0.332 0.634 0.442);
			--green-10: color(display-p3 0.308 0.595 0.417);
			--green-11: color(display-p3 0.19 0.5 0.32);
			--green-12: color(display-p3 0.132 0.228 0.18);

			/* dark red */
			--red-dark-1: color(display-p3 0.093 0.068 0.067);
			--red-dark-2: color(display-p3 0.118 0.077 0.079);
			--red-dark-3: color(display-p3 0.211 0.081 0.099);
			--red-dark-4: color(display-p3 0.287 0.079 0.113);
			--red-dark-5: color(display-p3 0.348 0.11 0.142);
			--red-dark-6: color(display-p3 0.414 0.16 0.183);
			--red-dark-7: color(display-p3 0.508 0.224 0.236);
			--red-dark-8: color(display-p3 0.659 0.298 0.297);
			--red-dark-9: color(display-p3 0.83 0.329 0.324);
			--red-dark-10: color(display-p3 0.861 0.403 0.387);
			--red-dark-11: color(display-p3 1 0.57 0.55);
			--red-dark-12: color(display-p3 0.971 0.826 0.852);
		}
	}
}
