:root {
	--editor-padding: 20px;
	--editor-font-size: 14px;
	--editor-input-padding: 20px;
}

.editor-wrapper,
.editor-inner {
	position: relative;
	width: 100%;
}

.editor-placeholder {
	font-style: italic;
	/* font-family: "Newsreader", serif; */
	z-index: 2;
	position: absolute;
	margin-top: -24px;

	font-size: 15px;
	color: #6b7280;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	pointer-events: none;
	line-height: 24px;
}

.editor-container {
	/* background-color: #f6f8fa; */
	color: #24292e;
	font-family: monospace;
	padding: 10px;
	border-radius: 0.375rem;
}

.editor-root {
	outline: none;
	color: var(--color-foreground) !important;
	font-size: 16px;
}

.editor-text-bold {
	font-weight: 550;
	color: var(--color-foreground);
	font-family: "GT Ultra", sans-serif;
}

.editor-text-code {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	padding-top: 0.125rem;
	background-color: var(--color-secondary);
	padding-bottom: 0.125rem;
	border-radius: 0.225rem;
}

.editor-paragraph {
	margin-top: 0;
	margin-bottom: 0.125rem;
	line-height: 24px;
	color: var(--color-foreground);
}

.editor-input {
	outline: none;
	font-weight: 400;
	color: #1f2937;
	font-size: 16px;
}

.editor-text-italic {
	font-style: italic;
}
.editor-text-underline {
	text-decoration: underline;
}
.editor-text-strikethrough {
	text-decoration: line-through;
}
.editor-text-underlineStrikethrough {
	text-decoration: underline line-through;
}
.editor-text-overflowed {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.editor-text-highlight {
	background-color: #fef08a;
	box-shadow: 0 2px 0 0 #fcd34d;
}

.editor-text-capitalize {
	text-transform: capitalize;
}
.editor-text-uppercase {
	text-transform: uppercase;
}
.editor-text-lowercase {
	text-transform: lowercase;
}
.editor-text-superscript {
	vertical-align: super;
}
.editor-text-subscript {
	vertical-align: sub;
}

.editor-hashtag {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	border-radius: 0.25rem;
	background-color: #dbeafe;
	color: #1d4ed8;
	box-shadow: 0 0 0 1px #bfdbfe;
}

.editor-heading-h1 {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 0.5rem;
	/* font-family: "Newsreader", serif; */
	font-family: "GT Ultra", sans-serif;
	line-height: 1.2;
}
.editor-heading-h2 {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 0.5rem;
	/* font-family: "Newsreader", serif; */
	font-family: "GT Ultra", sans-serif;
	line-height: 1.2;
}
.editor-heading-h3 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 0.5rem;
	/* font-family: "Newsreader", serif; */
	font-family: "GT Ultra", sans-serif;
	line-height: 1.2;
}
.editor-heading-h4 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 0.5rem;
	/* font-family: "Newsreader", serif; */
	font-family: "GT Ultra", sans-serif;
	line-height: 1.2;
}
.editor-heading-h5 {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0.5rem;
	/* 	font-family: "Newsreader", serif; */
	font-family: "GT Ultra", sans-serif;
	line-height: 1.2;
}

.editor-quote {
	border-left-width: 2.5px;
	border-left-color: #4b5563;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 10px;
}

.editor-link {
	color: #3b82f6;
	cursor: pointer;
	text-decoration: none;
}
.editor-link:hover {
	text-decoration: underline;
}

/* Cursor */
.editor-block-cursor {
	display: block;
	pointer-events: none;
	position: absolute;
}

.editor-block-cursor::after {
	content: "";
	display: block;
	position: absolute;
	top: -0.125rem;
	width: 1.25rem;
	animation: CursorBlink 1.1s steps(2, start) infinite;
}

@keyframes CursorBlink {
	to {
		visibility: hidden;
	}
}

/* Lists */
.editor-ol-1 {
	padding: 0;
	margin: 0;
	list-style-type: decimal;
	padding-left: 0.75rem;
}
.editor-ol-2 {
	padding: 0;
	margin: 0;
	list-style-type: upper-alpha;
}
.editor-ol-3 {
	padding: 0;
	margin: 0;
	list-style-type: lower-alpha;
}
.editor-ol-4 {
	padding: 0;
	margin: 0;
	list-style-type: upper-roman;
}
.editor-ol-5 {
	padding: 0;
	margin: 0;
	list-style-type: lower-roman;
}

.editor-ul {
	padding: 0;
	margin: 0;
	list-style-type: disc;
	padding-left: 0.75rem;
}

.editor-list-item {
	margin-left: 1rem;
	margin-top: 0.24rem;
	margin-bottom: 0.24rem;
}

.editor-nested-list-item {
	margin-left: 1.5rem;
}

.editor-code {
	background-color: #f3f4f6;
	color: #111827;
	border-radius: 0.5rem;
	border-width: 1px;
	border-color: #e5e7eb;
	display: block;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	overflow-x: auto;
	font-size: 14px;
	line-height: 1.6;
	margin: 0.5rem 0;
	tab-size: 2;
	font-family: "Berkely Mono", sans-serif;
}

.editor-page-break-hr {
	color: var(--color-neutral-200);
	margin: 15px 0;
}
